//border
.tranparentColorBorder {
  background: yellowgreen;
  padding: 1em;
  border: 10px solid rgba($color:yellowgreen, $alpha: 0.3);
  background-clip: padding-box;
}

.boxShadowMultiBorder {
  border: 5px solid goldenrod;
  box-shadow: inset 0 0 0 5px indianred, inset 0 0 0 10px yellowgreen;
}

.boxShadowOutline {
  @extend .boxShadowMultiBorder;
  box-shadow: none;
  background: goldenrod;
  outline: 2px dashed #fff;
  outline-offset: -8px;
}

//bg postion you can use calc also
.backgroundPosition {
  padding: 1em;
  background: url('../assets/image3.png') bottom right no-repeat blanchedalmond;
  // background-position: right 1em bottom 1em;
  background-origin: content-box;
}

.borderInnerRadius {
  background-color: blanchedalmond;
  //outline width must large than (Math.sqrt(2) - 1) * border-raidus
  outline: 0.8em solid goldenrod;
  border-radius: 1em;
  box-shadow: 0 0 0 0.414em goldenrod;
}

.stripedBackground {
  // background: linear-gradient(45deg,#fb3 25%, yellowgreen 0, yellowgreen 50%, #fb3 0, #fb3 75%, yellowgreen 0);
  // background-size: 30px 30px;
  background: repeating-linear-gradient(120deg, #fb3, #fb3 15px, #58b 0, #58b 30px);
}

$tranWhite: rgba($color: #fff, $alpha: 0.2);

.stripedBackgroundOneColor {
  // transparent 0, transparent 30px
  background: repeating-linear-gradient(60deg, $tranWhite, $tranWhite 15px, transparent 0, transparent 30px) #58b; 
}

.cssGrid {
  background-color: #58b;
  // background: linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 0), linear-gradient(to right, rgba(200, 0, 0, .5) 50%, transparent 0);
  background-image: 
    linear-gradient(white 2px, transparent 0), 
    linear-gradient(to right, white 2px, transparent 0),
    linear-gradient($tranWhite 1px, transparent 0), 
    linear-gradient(to right, $tranWhite 1px, transparent 0);
  background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
}

.radialCssGrid {
  background-color: #655;
  background-image: radial-gradient(tan 30%, transparent 0),  radial-gradient(tan 30%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.chessboard {
  background: #eee;
  background-size: 30px 30px;
  background-image: 
    linear-gradient(45deg, transparent 75%, #bbb 0), linear-gradient(to left bottom, transparent 75%, #bbb 0),
    linear-gradient(45deg, transparent 75%, #bbb 0), linear-gradient(to left bottom, transparent 75%, #bbb 0);
  background-position: 0 0, 15px 15px, 15px 15px, 30px 30px;
}


.randomBgColor {
  // background: linear-gradient(to right, #F19483 15px, #BA9132 0, #BA9132 25px, #00AA90 0, #00AA90 50px, #B19693 0, #B19693 75px);
  background: #f19483;
  background-image: 
    linear-gradient(to right, #ba9132 11px, transparent 0), 
    linear-gradient(to right, #00aa90 23px, transparent 0), 
    linear-gradient(to right, #d0db2f 41px, transparent 0);
  background-size: 41px 100%, 61px 100%, 83px 100%;
}

.continousBorderImage {
  padding: 1em;
  border: 1em solid transparent;

  background: linear-gradient(#fff, #fff), url("../assets/image2.png");
  background-size: cover;
  background-clip: padding-box, border-box;
  background-origin: border-box;
}

.continousBorderImage2 {
  padding: 1em;
  border: 1em solid transparent;

  background: 
    linear-gradient(#fff, #fff) padding-box,
    repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 0, transparent 25%, 
      #58a 0, #58a 37.5%, transparent 0, transparent 50%) 0 / 5em 5em;
}

@keyframes ant {to {background-position: 100%}}

.continousBorderImage3 {
  border: 1px solid transparent;
  padding: 1em;

  background: linear-gradient(#fb3, #fb3) padding-box,
  repeating-linear-gradient(-45deg, #000 0, #000 25%, #fff 0, #fff 50%) 0 / 0.8em 0.8em;
  animation: ant 10s linear infinite;
}