@mixin pageContainer {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  @include pageContainer;

  * {
    box-sizing: border-box;
  }
}

body {
  @include pageContainer;
  padding: 1em;
}

.square {
  width: 150px;
  height: 150px;
}

.middleSquare {
  @extend .square;
  width: 350px;
}

.largeSquare {
  @extend .square;
  width: 500px;
  height: 500px;
}

section {
  float: left;
  margin: 1em 1.5em;

  h3 {
    padding-left: 0.5rem;
    border-left: 3px solid #cf6399;
    font-weight: 400;
  }
}

.defaultBorder {
  border: 1px solid #515adf;
}